html, body {
    font-family: Montserrat, sans-serif;
    margin: 0 auto;    
    padding: 0;
    color: #1c1b1b;
    font-size: 14px;
    text-align: justify;
    background: url("http://bgfons.com/uploads/marble/marble_texture4504.jpg") repeat;
    display: flex;
    justify-content: space-between;
}
h1, h2, h3 {
    color:  #222f4c;
    /* margin: 20px; */
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid #eaecef;
}
a {
    color: #4394c1;
}
section {
    margin-bottom: 30px;
}
.body__wrapper {
    box-sizing: border-box;
    margin: 20px 130px;
    padding: 0 40px;
    border: darkolivegreen solid 1px;
    background: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.header__wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}
.header__link
.header__name

.header__img {
    width: 200px;
    height: 200px;
    float: inline-end;
}
.contacts__section {}
.contacts__wrapper {}
.contacts__table {
    display: block;
    width: 100%;
    overflow: auto;
    background-color: #fff;    
    text-align: center;
    border-collapse: collapse;
    margin: 0 auto;
}
table th,
table td {
    padding: 6px 13px;
    border: 1px solid #49667f;
    text-align: center;
}
th {
    text-align: center;
    padding: 5px;
    background-color: #49667f;
    color: #fff;
}
  td:hover { 
    background-color: #c15143; 
    cursor: pointer;
}
.contacts__table-row1 {}
.skills__section {}
.skills__list {}
.skills__item {}
.code__pre {
    padding: 16px;
    line-height: 1.45;
    background-color: #92bcd3;
    border-radius: 5px;
}